<html>

<head>
  <title> ecommerce</title>
  <meta  content="width=device-width , initial-scale=1"/>
</head>
<body>
<ul  class="menu2">
  <li> <a href="#home">Acceuil</a> </li>
  <li>
   <a href="#services">Services</a>
    <ul class="submenu2">
      <li> <a href="#web">Développement Web</a> </li>
      <li> <a href="#mobile">Développement Mobile</a> </li>
      <li> <a href="#cloud">Services Cloud</a> </li>
    </ul>
  </li>
  <li> <a href="#about">a propos</a> </li>
  <li> <a href="#contact">Contact</a> </li>
</ul>
<div class="bloc">
  <button>Home</button>
  <button>Login</button>
</div>
<header class="header">
  <h1>WooCommerce</h1>
  <h2> PrestaShop, une référence dans la création de site marchand</h2>
</header>
<section class="hero">
  <div class="hero-text">
    <h1> Your ecommerce.<br> Your brand . Your rules.</h1>
    <p> PrestaShop offers you a highly flexible and scalable e-commerce platform
      to launch an online business 100% owned and designed by you .</p>
    <button>Get started</button>
  </div>
  <img src="assets/img.png" alt="Ecommerce showcase"  class="hero-image">
</section>
<form id="contact">
  <label for="nom"><u><i>Nom</i></u></label>
  <input type="text" id="nom" placeholder="Entrer votre nom ici">
  <label for="readonly"><s>Prénom</s></label>
  <input id="readonly" type="text" placeholder="readonly" readonly>
  <label for="password"><s>Password</s></label>
  <input id="password" type="password" placeholder="password" readonly minlength="6" required>
  <!-- Sexe -->
  <label> Séléctionner votre sexe : </label>
  <input type="radio" id="homme" name="sexe" value="homme">
  <label> Homme </label>
  <input type="radio" id="femme" name="sexe" value="femme">
  <label> femme </label>
  <!-- Langues préférées -->
  <label> Séléctionner votre langues préférées  : </label>
  <input type="checkbox" id="Francais" value="fr">
  <label for="Francais">Français</label>
  <input type="checkbox" id="anglais" value="en">
  <label for="anglais">Anglais</label>
  <br><br>
  <label>Séléctionner votre pays :</label>
  <select multiple>
    <option>Tunisie</option>
    <option>Italie </option>
    <option>France </option>
  </select>
  <select >
    <option>Tunisie</option>
    <option>Italie </option>
    <option>France </option>
  </select>
  <label for="avatar">Choisissez votre avatar :</label>
  <input type="file" id="avatar">
</form>
<footer class="footer">
  <p>&copy; 2025 Woocommerce. All rights reserved.</p>
</footer>
</body>
</html>
